*
{margin: 0;
padding: 0;
}
body
{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
}
header
{
    background-color: rgb(41, 104,221);
    color: white;
    text-align: center;
}
nav 
{
    background-color: rgb(167, 225,73);
    color: white;
    padding: 10px;
}
nav a 
{
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
nav a:hover
{
    color:orangered;
    text-decoration: underline;
}
#about_sec
{
    padding: 30px 20px;
}
#short h1{
    color: brown;
}#project_sec
{
    padding: 30px 20px;
}
#sd1,#sd2,#sd3
{
    background-color: aquamarine;
    border: 1px solid red;
    padding: 15px;
    border-radius: 10px;
}
#sd1,#sd2,#sd3:hover
{
    transform: scale(1.05);
    cursor: pointer;
}