*
{
    margin: 0;
    padding: 0;
}
    body {
      font-family: Arial, sans-serif;
    }
    
    section{
        
        text-align: center;
    }
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#contact-form {
  width: 50%;
  margin: 0 auto;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 0.5em;
  align-items: center;
}

input, textarea {
  padding: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid #ccc;
}

button {
  padding: 0.5em 1em;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
